@model StoreFrontV2.DATA.EF.Product

@{
    ViewBag.Title = $"{Model.ProductName}";
}

<h2>@ViewBag.Title</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.DeptName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.DeptName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductStatu.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductStatu.StatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shipper.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shipper.CompanyName)
        </dd>

    </dl>

    @* "Add to Cart" *@
    <p>
        @using (Html.BeginForm("AddToCart", "Products", new { @productId = Model.ProductID}, FormMethod.Post, new { @class = "text-center" }))
        {
            @Html.HiddenFor(x => x.ProductID)
            <span class="label">Quantity: </span>
            @Html.TextBox("Qty", 1, new { @class= "form-control", @style="max-width: 50px; display: inlinel"})
            <input type="submit" value="Add to Cart" class="btn btn-primary" name="qty" />
        }
    </p>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
